<section class="login-form landing-form">
  
  <md-content>
  <h2 class="md-display-2">sign in</h2>

  <form
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>
    <div
      ng-class="{
        'error': loginForm.username.$invalid,
        'success': loginForm.username.$valid
      }">


    <md-input-container class="md-block">
        <label>username</label>
        <input ng-model="loginCtrl.user.username">
      </md-input-container>

    <md-input-container class="md-block">
      <label>password</label>
      <input ng-model="loginCtrl.user.password" type="password" ng-required="true">
    </md-input-container>

    </div>

    <md-button class="md-raised md-primary" type="submit">Primary</md-button>



  </form>
</md-content>
</section>
