@import '../../scss/lib/theme/vars';

.landing {

  span {
    margin-top: $gutter-sm;
    display: block;
    float: right;
  }
  p {
    display: inline-block;
  }

  a {
    font-weight: bolder;
    color: $color-primary;
  }
}

.join-container {
  .join-inner {
    width: 100% - 2 * $gutter-std;
    margin: 0 auto;
  }
}
